{% extends 'base.html' %}

{% block title %}
    Create car
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="mt-5">Create Car</h1>
        <form action="/car_create" method="post" class="mt-3">
            <div class="mb-3">
                <label for="model_name" class="form_label">Model Name</label>
                <input class="form_control" id="model_name" type="text" name="model_name" required>
            </div>

            <div class="mb-3">
                <label for="engine" class="form_label">Engine</label>
                <input class="form_control" id="engine" type="text" name="engine" required>
            </div>

            <div class="mb-3">
                <label for="type_of_fuel" class="form_label">Type of Fuel</label>
                <select class="form_select" id="type_of_fuel" name="type_of_fuel" required>
                    <option value="GASOLINE">Gasoline</option>
                    <option value="DIESEL">Diesel</option>
                    <option value="GAS">Gas</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Create Car</button>
        </form>
    </div>
{% endblock %}